[submodule "pd.build"]
	path = pd.build
	url = https://github.com/pierreguillot/pd.build
[submodule "pure-data"]
	path = pure-data
	url = https://github.com/pure-data/pure-data
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/mganss/vcpkg
